@import "reset";

// body {
//     background-color: black;
// }
header {
    z-index: 1;
    position: sticky;
    top: 0;
    background: black;
    width: 100%;
}
.search {
    display: flex;
    align-items: center;
    background-color: #3a3b3c;

    input {
        background-color: #3a3b3c;
        &:focus {
            background-color: #3a3b3c;
            box-shadow: none;
            border: none;
        }
    }
}

.social-icons {
    li {
        a {
            transition: all 0.3s linear;
            color: white;
            i {
                font-size: 25px;
            }

            &:hover {
                color: #2b7efd;
            }
        }
    }
    li.active {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: #2b7efd;
        }

        a {
            color: #2b7efd;
        }
    }
}

.user {
    a {
        transition: all 0.3s linear;
        border-radius: 1rem;
        padding: 0.25rem;

        &:hover {
            background-color: #3a3b3c;
        }
    }
}

.menu-icon {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        width: 50px;
        height: 50px;
        color: white;
        background-color: #3a3b3c;
        padding: 1rem;
        border-radius: 50%;
    }
}

.option {
    &:hover {
        background-color: #3a3b3c;
    }

    .special-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        width: 30px;
        height: 30px;
        color: white;
        background-color: #606770;
        padding: 1rem;
        border-radius: 50%;
    }

    .box {
        color: #2e89ff;
        i {
            display: inline-block;
            font-size: 10px;
        }
    }

    .last-seen {
        right: 0;
        font-size: 10px;
    }
}

// hakinda sehifesi
.profile-about {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile-sub-about {
        display: flex;
    }
}

.profile {
    width: 100%;
    height: 400px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;

    img {
        object-fit: cover;
    }
}

.avatar {
    margin-top: -35px;
    margin-left: 2rem;
}

.facemenu-list {
    display: flex;
    padding: 0;

    &-item {
        transition: all 0.2s linear;

        a,
        button {
            padding: 16px;
            display: inline-block;
            cursor: pointer;
            width: 100%;
        }

        .sub-facemenu-list {
            display: none;
            position: absolute;
            background-color: #222;
            width: 300px;
            max-width: 300px;
            border-radius: 1rem;
        }

        &:hover:not(.active) {
            background-color: #3a3b3c;
        }
    }

    .active {
        border-bottom: 3px solid #2e89ff;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        a {
            color: #2e89ff !important;
        }
    }
}

.params {
    display: inline-block;
    padding: 16px;
    margin: 10px;
    transition: all 0.2s linear;
    background-color: #3a3b3c;

    &:hover {
        background-color: #585b5e;
    }
}

.personal-info {
    background-color: #3a3b3c;

    i {
        color: #8c939d;
        font-size: 20px;
    }
}

.photos {
    background-color: #3a3b3c;

    .heading {
        font-size: 1.25rem;
        font-weight: 700;
        padding: 8px;
        &:hover {
            text-decoration: underline;
        }
    }
    .all-photos {
        color: #2e89ff;
        padding: 8px;
        font-size: 1.25rem;

        &:hover {
            background-color: #585b5e;
        }
    }

    img:hover {
        opacity: 0.7;
    }
}

.copyright {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.story {
    background-color: #2d2e2f;
    padding: 8px 16px;
    border-radius: 1rem;

    i {
        font-size: 24px;
    }

    input {
        background-color: #3a3b3c;

        &::placeholder {
            color: #8c939d;
        }

        &:focus-visible {
            outline: none;
        }
    }

    .story-image {
        &:hover {
            opacity: 0.7;
        }
    }

    ul {
        li {
            a {
                &:hover {
                    background-color: #3a3b3c;
                }
            }
        }
    }
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 8px 16px;
    background-color: #2d2e2f;

    a {
        padding: 8px;
        background-color: #3a3b3c;

        i {
            color: #8c939d;
        }

        &:hover {
            background-color: #585b5e;
        }
    }
}

.personal-about {
    li {
        a {
            padding: 4px 8px;
            display: block;
            width: 100%;
            border-radius: 0.5rem;
        }

        &:not(.active) {
            a {
                &:hover {
                    background-color: #585b5e;
                }
            }
        }
    }

    .active {
        a {
            background-color: #2d88ff33;
            color: #2e89ff !important;
        }
    }
}

#follows {
    li {
        max-width: 175px;
    }
}
// single line classes
.dark-layout {
    background-color: #2d2e2f;
}

.rounded-special {
    border-radius: 1rem;
}

.text-hover-underline {
    &:hover {
        text-decoration: underline;
    }
}

.bg-buton {
    background-color: #3a3b3c;

    &:hover {
        background-color: #585b5e;
    }
}

.chat {
    width: 330px;
    // height: 400px;
    background-color: #242526;
    position: fixed;
    bottom: 0%;
    right: 10%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    display: none;

    &-header {
        border-bottom: 1px solid #585b5e;
        display: flex;
        justify-content: space-between;
        height: 50px;

        &__profile {
            display: flex;
            align-items: center;

            &:hover {
                background-color: #3a3b3c;
            }
        }

        &__operations {
            display: flex;
            align-items: center;

            li {
                a {
                    cursor: pointer;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;

                    &:hover {
                        background-color: #3a3b3c;
                    }
                }
            }
        }
    }

    &-body {
        max-height: 400px;
        overflow-y: scroll;

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 3rem 0;
        }

        .message-come {
            display: flex;
            margin: 1rem 0;

            img {
                transform: translateY(50%);
            }

            p.message {
                border-radius: 1rem;
                background-color: #3a3b3c;
                color: white;
                padding: 0.5rem;
                max-width: 200px;
            }
        }

        .message-sent {
            display: flex;
            margin: 1rem 0;
            justify-content: flex-end;

            p.message {
                border-radius: 1rem;
                background-color: #2b7efd;
                color: white;
                padding: 0.5rem;
                margin: 0 0.5rem;
                max-width: 200px;
            }
        }

        &::-webkit-scrollbar {
            width: 20px;
        }

        &::-webkit-scrollbar-track {
            background-color: #3a3b3c;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #585b5e;
            border-radius: 1rem;
            height: 10px !important;

            &:hover {
                background-color: #8c939d;
            }
        }
    }

    &-footer {
        // height: 50px;
        padding: 1rem 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0;   
        position: relative;     

        li {
            
            a {
                cursor: pointer;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                padding: 0.5rem;
                color: #606770;
                z-index: 2;

                i {
                    font-size: 25px;
                }

                &:hover {
                    color: white;
                }
            }    
                       

            .textarea {
                padding: 5px 0;           
                border-radius: 1rem;
                overflow: hidden;
                background-color: #3a3b3c;
                margin: 0;
    
                span {
                    width: 200px;
                    display: block;                
                    overflow: auto;
                    min-height: 20px;
                    max-height: 125px;
                    line-height: 20px;
                    padding: 1rem;
                    color: white;
    
                    &:focus-visible {
                        outline: none;
                        background-color: #fff;  
                        color: #000;                     
        
                        &::-webkit-scrollbar-track {
                            background-color: #fff;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #000;
        
                            &:hover {
                                background-color: #000;
                            }
                        }
                       
                    }
    
                    &::-webkit-scrollbar {
                        width: 10px;
                    }
    
                    &::-webkit-scrollbar-track {
                        background-color: #3a3b3c;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #585b5e;
    
                        &:hover {
                            background-color: #8c939d;
                        }
                    }
                }

            
            }

            .emoji-container{
                width: 300px;
                // max-width: 250px;
                height: 300px;
                max-height: 300px;
                background-color: #3a3b3c;
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                bottom: 100px;
                left: 0;
                padding: 0 0 0 .5rem;
                z-index: 1;
                overflow-y: scroll;


                li{
                    width: 30px;
                    height: 30px;

                    a{
                        font-size: 20px;
                        transition: all .4s linear;

                        &:hover{
                            font-size: 40px;
                        }
                    }
                }

                &::-webkit-scrollbar {
                    width: 15px;
                }
        
                &::-webkit-scrollbar-track {
                    background-color: #3a3b3c;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #585b5e;
                    border-radius: 1rem;
                    height: 10px !important;
        
                    &:hover {
                        background-color: #8c939d;
                    }
                }
                
             }
        }

       
    }
}
@media only screen and (max-width: 768px) {
    .avatar {
        margin-top: -85px !important;
    }
    .profile-about {
        flex-direction: column;

        .profile-sub-about {
            flex-direction: column;
            align-items: center;
        }
    }
}
